# Elasticsearch Environment Configuration
ELASTICSEARCH_VERSION=8.17.0
ES_PORT=9200
ES_NODE_NAME=es-lab-01
ES_CLUSTER_NAME=es-scratch-cluster
ES_JAVA_OPTS=-Xms512m -Xmx512m

# Cluster Lab Nodes
ES_NODE_1_PORT=9200
ES_NODE_2_PORT=9201
ES_NODE_3_PORT=9202

# Python Client Endpoint
ES_URL=http://localhost:9200
