# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv/
ENV/

# C binaries & objects
*.o
*.out
socket-programs/c/tcp_echo_server
socket-programs/c/tcp_echo_client
socket-programs/c/udp_echo_server
socket-programs/c/udp_echo_client

# Packet captures & dynamic logs
*.pcap
*.pcapng
*.cap
*.log

# OS & Editor
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
.idea/
.vscode/
*.swp
*~
